body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    background-color:darkseagreen;
}

button {
    cursor: pointer;
}

ul {
    text-align: left;
    margin: 10px;
    padding: 10px;
    list-style: none;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.4);
}

li {
    padding: 15px;
    margin: 10px;
    font-size: 1em;
    font-style: italic;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

li>button {
    border: none;
    background-color: #fff;
    font-size: 1em;
    float: right;
    opacity: 0.6;
    transition: opacity 1s;
}

li>button:hover {
    opacity: 1;
    transition: opacity 1s;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    color: #fff;
    text-shadow: 3px 5px #000;
}

.text-center {
    text-align: center;
}

.button {
    background-color: #000;
    border: none;
    color: #fff;
    border-radius: 30px;
    font-size: 1em;
    padding-left: 50px;
    padding-right: 50px;
}

#modal {
    text-align: left;
    margin: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.4);
}

input {
    width: 100%;
    line-height: 50px;
    text-indent: 10px;
    font-size: 1.2em;
}

.danger {
    background-color: red;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
}